---
import Layout from '../layouts/Layout.astro';
import ChatComponent from '../components/ChatComponent';
---

<Layout title="Chat">
  <div class="max-w-3xl mx-auto">
    <ChatComponent client:load />
  </div>
</Layout> 